extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let watchid = toShow._id 
    - let watch_type = toShow.watch_type 
    - let watchcost = toShow.cost 
    - let watchsize = toShow.size 
    - let actionid = "/resource/watchs/" + watchid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='watchAttr mr-3') watch ID is: 
        div #{watchid} 
      div.row 
        div(class='watchAttr mr-3') watch Type is: 
        div #{watch_type} 
      div.row 
        div(class='watchAttr mr-3') watch Size is: 
        div #{watchsize} 
      div.row 
        div(class='watchAttr mr-3') watch Cost is: 
        div #{watchcost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the watch collection 
      window.location.href='/watchs' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/watchs' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 